<div class="container">
  <div class="main">
    <h1>Carbon Formio Demo</h1>
    <h2>Input JSON</h2>
    <div style="display: flex; flex-direction: column;">
      <textarea ibmTextArea type="text" rows="10" cols="30" #jinput>{{
        defaultValue | json
      }}</textarea>
      <button
        style="margin-top: 1rem; height: 2rem;"
        ibmButton="primary"
        (click)="update(jinput.value)"
      >
        Update
      </button>
    </div>
    <h2>Submitted Data</h2>
    <div class="sub" rows="30" cols="30">
      <textarea ibmTextArea type="text">{{ submittedData | json }}</textarea>
    </div>

    <h2>Rendered Form by Carbon Formio</h2>
    <carbon-formio
      [form]="defaultValue"
      (submit)="onSubmit($event)"
    ></carbon-formio>
    <!-- <h2>Router Outlet</h2> -->
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
